@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Courgette&family=Satisfy&display=swap');

table, th, td {
  border:1px solid black;
  max-width: 1000px;
  max-height: 200px;
}

.forms{
  width:600px;
  height: auto;
  margin:auto;
  border-radius: 3px;
}
.forms > input, .forms > textarea{
  max-width: 500px;
  min-width: 500px;
  height: 20px;
  padding: 15px;
  border:1px solid black;
  border-radius: 6px;
  font-size: 20px !important;
  font-family: 'Chivo', sans-serif;
}

.buttons{
    font-size: 25px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 45%;
   
}

.tables{
  width:600px;
  height: auto;
  margin:auto;
  margin-top:50px;
  border-radius: 6px;

}

.Headers{
  text-decoration: none;
  background-color: white;
  border:1px solid black;
  border-radius: 5px;
  margin:50px
}

.List{
  text-decoration: none;
  background-color: white;
  border:1px solid black;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.Listd{
  display: flex;
  justify-content: center;
}



.editor{
  text-decoration: none;
  background-color: white;
  border:1px solid black;
  border-radius: 5px;
  font-size: 20px;
}

p.title{
  font-size: 40px;
  font-family: 'Chivo', sans-serif;
  color:white;

}

p.description{
  font-size: 20px;
  font-family: 'Chivo', sans-serif;
}

a.links{
  text-decoration: none;
  font-family: 'Chivo', sans-serif;
}

p.author{
  font-family: 'Chivo', sans-serif;
  font-size: 20px;
  float: right;
 
}

p.files{
  font-family: 'Chivo', sans-serif;
  font-size: 20px;
}

.details{
  margin-left:20px !important;
}

header.Heading{
  background-color:black ;
  height:100px;
  width:100%;
  
  
  }
  
  header.Heading > a{
      float: left;
      color:wheat;
      text-align: center;
      font-size:20px;
      line-height: 10px;
      padding: 40px 50px 50px 12px;
      text-decoration: none;
      font-family: 'Chivo', sans-serif;
      
  }

  header.Heading>p.rightside{
    float: right;
    color:wheat;
    margin:22px;
    font-size:40px;
    text-decoration: none;
    font-family: 'Satisfy', cursive;
    
    
    }

    .buttonss{
      text-decoration: none;
      font-size: 20px;
      font-family: 'Chivo', sans-serif;
      color: white;
      border: 1px solid black;
      border-radius: 4px;
      background-color: black;
      padding: 10px;
    }

    .listin{
      margin-left:20px;
    }